In [ ]:
import numpy as np

In [ ]:
# 간단한 배열 만들기
numbers = np.array([1, 2, 3, 4, 5])
print("평균:", np.mean(numbers))
print("합계:", np.sum(numbers))

평균: 3.0
합계: 15

In [ ]:
# 2차원 배열 (행렬) 만들기
matrix = np.array([[1, 2], [3, 4]])
print("행렬:\n", matrix)

행렬:
 [[1 2]
 [3 4]]

In [16]:
import pandas as pd
# 간단한 데이터 만들기
students = pd.DataFrame({
'이름': ['김철수', '이영희', '박민수'],
'수학': [85, 92, 78],
'영어': [78, 85, 90]})
print("이영희 학생 데이터: \n", students.loc[1,'수학'])

이영희 학생 데이터:
 92