In [ ]:
import numpy as np

In [ ]:
a = 7
b = 11
c = a
a = b
b = c
print (a, b)

#a와 b를 컵이라고 생각하고 콜라와 사이다가 들어있는 상태라고 하자. 두 내용물을 바꾸려면 어떻게 해야할까

11 7

In [ ]:
a = 3
for i in range (0,3):
    print(a)
    a += 3

3
6
9

In [9]:
r = int(input())
circle = r*r*3.14
print(circle)

10
314.0