In [5]:
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명 : {username}, 도메인 {domain}")

사용자명 : user, 도메인 example.com

In [7]:
csv_data = "김철수,30,서울,개발"
data_list = csv_data.split(",")
print(f"분리된 데이터 : {data_list}")

분리된 데이터 : ['김철수', '30', '서울', '개발']

In [6]:
folders = ["home", "user","documents", "project"]
path = ">".join(folders)
print(f"경로 : {path}")

경로 : home>user>documents>project

In [8]:
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [26]:
multiples_of_3 = [x for x in range(1, 21) if x % 3 == 0]
print(f"3의 배수: {multiples_of_3}")

SyntaxError: expected 'else' after 'if' expression (ipython-input-154200323.py, line 1)

In [15]:
fruits = ["apple", "banana", "cherry"]
upper_fruits = [fruits[x].upper() for x in range(len(fruits))]
print(f"대문자 과일: {upper_fruits}")

대문자 과일: ['APPLE', 'BANANA', 'CHERRY']

In [18]:
words = ["Python", "is", "powerful"]
word_lengths = [len(words[x])    for x in range(len(words))]
print(f"단어 길이: {word_lengths}")

단어 길이: [6, 2, 8]

In [28]:
numbers = [1, 2, 3, 4, 5, 6]
processed = [x**2     if x % 2 == 0 else x     for x in numbers]
print(f"처리된 숫자: {processed}")

처리된 숫자: [1, 4, 3, 16, 5, 36]

In [30]:
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores, start=1):
  print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 87점
 3등: 92점
 4등: 88점

In [31]:
students = ["철수","영희","민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]
print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
  print(f" {name}: {score}점 ({grade}학점)")

학생 성적표:
 철수: 85점 (B학점)
 영희: 92점 (A학점)
 민수: 78점 (C학점)

In [32]:
keys = ["name", "age", "city"]
values = ["홍길동", 25,"부산"]
person_dict = dict(zip(keys, values))
print(f"\n딕셔너리: {person_dict}")

딕셔너리: {'name': '홍길동', 'age': 25, 'city': '부산'}

In [33]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [34]:
numbers = [-5, 3,-1, 8, 0,-3, 7]
positive = list(filter(lambda x: x > 0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]